.service-article {
    padding: 2rem;
    font-size: 1.6rem;
}

.service-article blockquote {
    margin: 0;
    background: #e0e0e0;
    border-left: 0.5rem solid #0099ff;
    padding: 1rem 2.4rem;
}

.service-article blockquote p {
    margin: 0;
}