.card-masonry {
    display: grid;
    row-gap: 2rem;
}

.card-masonry .card {
    border-radius: 1rem;
    background: #d4d4d4;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */
    border: 0.1rem solid #c4c4c4;
    padding: 2rem;
    display: grid;
    justify-items: center;
}

.card-masonry .card .card-image {
    height: 24rem;
    width: 24rem;
}

.card-masonry .card .card-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-masonry .card .card-description {
    font-size: 1.6rem;
    color: #666;
    font-weight: normal;
    text-align: center;
}