.card-masonry {
    display: grid;
    row-gap: 6rem;
}

/* Tablet size */

@media screen and (min-width: 76.8rem) {
    .card-masonry {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
    }
}

/* Laptop size */

@media screen and (min-width: 102.4rem) {
    .card-masonry {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-masonry .card {
    border-radius: 1rem;
    /* background: var(--ivory-300); */
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */
    /* border: 0.1rem solid var(--ivory-400); */
    display: grid;
    justify-items: center;
}

.card-masonry .card .card-image {
    height: auto;
    width: 100%;
}

.card-masonry .card .card-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-family: var(--semi-bold-font);
}

.card-masonry .card .card-description {
    font-size: 1.6rem;
    color: #666;
    font-weight: normal;
    text-align: center;
}