.container {
    padding: 2rem 2rem 4rem;
    display: grid;
}

.container .container-image {
    width: 100%;
    height: auto;
    place-self: center;
    margin: 0 0 4rem;
}

.container .container-title {
    display: grid;
}

.container .container-title h1 {
    font-size: 3rem;
    font-family: var(--semi-bold-font);
    text-align: center;
}

.container .container-title p {
    font-size: 1.5rem;
    color: var(--gray-800);
    text-align: center;
}