.app-footer {
    display: grid;
    position: relative;
    margin-top: 12rem;
    background: var(--pink-600);
}

.app-footer-wave {
    height: 12rem;
    width: 100%;
    position: absolute;
    top: -12rem;
}

.app-footer .app-footer-content {
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
}

/* Tablet size */

@media screen and (min-width: 76.8rem) {
    .app-footer .app-footer-content {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        justify-items: center;
    }

    .app-footer .app-footer-content .app-footer-container:last-child {
        grid-column: 1 / -1;
    }
}

/* Laptop size */

@media screen and (min-width: 102.4rem) {
    .app-footer .app-footer-content {
        max-width: 102.4rem;
        margin: 0 auto;
        width: 100%;
    }
}

.app-footer .app-footer-content .app-footer-container-title {
    font-size: 2.4rem;
    color: #fff;
    font-family: var(--bold-font);
    margin: 0.8rem 0;
}

.app-footer-sitemap {
    display: grid;
    row-gap: 0.4rem;
}

.app-footer-sitemap .app-footer-sitemap-link {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.app-footer-sitemap .app-footer-sitemap-link:hover {
    color: #402312;
}

.app-footer-sitemap .app-footer-sitemap-subnav {
    display: grid;
    margin: 0;
    padding-left: 1.4rem;
    color: white;
}

.app-footer-sitemap .app-footer-sitemap-subnav .app-footer-sitemap-sublink {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.app-footer-sitemap .app-footer-sitemap-subnav .app-footer-sitemap-sublink:hover {
    color: #402312;
}

.app-footer-socials,
.app-footer-contact {
    display: grid;
    row-gap: 0.8rem;
}

.app-footer-socials .app-footer-socials-link,
.app-footer-contact .app-footer-contact-link {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: grid;
    align-items: center;
    grid-template-columns: 2.4rem 1fr;
}

.app-footer-socials .app-footer-socials-link:hover,
.app-footer-contact .app-footer-contact-link:hover {
    color: #402312;
}

.app-footer-socials .app-footer-socials-link .app-footer-social-icon,
.app-footer-contact .app-footer-contact-link .app-footer-contact-icon {
    height: 2rem;
    width: 2rem;
}

.app-footer-copyright {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    margin: 2rem 0 1rem;
}

.app-footer-credit {
    font-size: 1rem;
    color: #b6b6b6;
    text-align: center;
    margin: 0;
}

.app-footer-credit a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}