.wave-container {
    display: grid;
    position: relative;
    margin: 4rem 0;
}

.wave-container .top-wave,
.wave-container .bottom-wave {
    height: 4rem;
    width: 100%;
    position: absolute;
}

.wave-container .top-wave path,
.wave-container .bottom-wave path {
    fill: var(--pink-100);
}

.wave-container .top-wave {
    top: -3.9rem;
}

.wave-container .bottom-wave {
    bottom: -3.9rem;
}

.wave-container .wave-image {
    place-self: center;
    height: auto;
    width: 100%;
}

.wave-container .wave-content {
    background: var(--pink-100);
    padding: 2rem;
    display: grid;
    row-gap: 3rem;
}

.wave-container .wave-content .wave-content-title {
    text-align: center;
}

.wave-container .wave-content .wave-content-title h1 {
    font-size: 3rem;
    font-family: var(--semi-bold-font);
}

.wave-container .wave-content .wave-content-title p {
    font-size: 1.5rem;
    color: var(--gray-800);
}

.wave-container .wave-content .wave-content-body {
    margin-bottom: 4rem;
    display: grid;
    row-gap: 2rem;
}