.contact-methods {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.carousel {
    display: grid;
    row-gap: 2rem;
    position: relative;
}

.carousel .carousel-arrows {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-arrows .carousel-arrow {
    place-self: center;
    font-size: 4.4rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
    color: var(--white);
    border: 0.4rem solid var(--gold-100);
    border-radius: 50%;
    background: var(--gold-100);
    margin: 0 1rem;
}

.carousel .carousel-arrows .carousel-arrow:nth-child(1) {
    justify-self: start;
}

.carousel .carousel-arrows .carousel-arrow:nth-child(2) {
    justify-self: end;
}

.carousel .active-carousel-image {
    width: 100%;
    height: auto;
}