.jumbotron {
    display: grid;
    padding: 8rem 2rem;
}

.jumbotron h1 {
    font-family: Erica One, sans-serif;
    font-size: 5rem;
    color: #0099ff;
    margin: 0;
}

.jumbotron p {
    font-size: 2rem;
    color: #333;
}

.jumbotron button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background: #0099ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
    font-weight: bold;
}

.contact-methods {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
