.jumbotron {
    display: grid;
    padding: 8rem 2rem;
}

.jumbotron h1 {
    font-family: Erica One, sans-serif;
    font-size: 5rem;
    color: #0099ff;
    margin: 0;
}

.jumbotron p {
    font-size: 2rem;
    color: #333;
}

.jumbotron button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background: #0099ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: start;
    font-weight: bold;
}

.contact-methods {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.carousel {
    display: grid;
    row-gap: 2rem;
    grid-template-rows: 1fr 5rem;
}

.carousel .carousel-arrows {
    display: grid;
    grid-auto-flow: column;
}

.carousel .carousel-arrows .carousel-arrow {
    place-self: center;
    font-size: 4.4rem;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.carousel .carousel-arrows .carousel-arrow:hover {
    color: #0099ff;
    font-size: 4.6rem;
}

.carousel .active-carousel-image {
    width: 100%;
    height: 24rem;
}